.headerWrap {
    height: 60px;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #eaecef;
    background-color: #fff;
}
.headerLogo {
    font-size: 30px;
    font-weight: 500;
}